*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #CBE6F6; /* Light background */
    color: #443F3A; /* Dark text */
}

header {
  background-color: #2A787F;
  /* background-color: #DBAE92; */
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header a{
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 18px;
}
header b{
  font-weight: bolder;
  margin-left: 0;
  margin-right: auto;
}


main {
    padding: 70px 40px 200px 40px;
}
.main-title{
    font-size: 40px;
    margin-bottom: 100px;
    font-weight: 700;
}
.main-title-slide{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.app-name{
  color: #2A787F;
}

.section-title {
    font-size: 55px;
    color: #2A787F; /* Dark teal */
    margin-bottom: 60px;
    
}

.info-slides{
    display: flex;
    margin-bottom: 200px;
}
.text-example{
    width: calc(50%);
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-example p{
    line-height: 1.5;
    font-size: 30px;
}



.text-example-2{
    width: calc(50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-example-2 p{
    line-height: 1.5;
    font-size: 30px;
}


.image-example-box{
    width: calc(50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image-example-box-2{
    width: calc(50%);
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image-example{
    width: 100%;

    object-fit: contain;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    height: calc(100% - 48px);
    padding-top: 30px;
}


.feedback-form input,
.feedback-form textarea {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1px solid #AED9E7; /* Light teal */
    border-radius: 4px;
}

.submit-btn:hover {
    background-color: #589EA5; /* Medium teal */
}

.submit-btn{
    margin-bottom: 0;
    margin-top: auto;

    background-color: #2A787F; /* Dark teal */
    color: white;
    padding: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    font-weight: 700;
    font-size: 18px;
  }



.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
  
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  
  }
  
  .backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
  }
  
  .backdrop.is-hidden .modal{
    /* transform: translate(-50%, -50%) scale(0.1) rotate(0deg); */
    transform: translate(-50%, -50%) scale(0.1);
  }
  
  .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%) scale(1) rotate(360deg); */
    transform: translate(-50%, -50%) scale(1);
    
  
    padding: 24px;
    width: 700px;
    height: 900px;
    background-color: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .close-modal{
    position: absolute;
    top: 24px;
    right: 24px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #2A787F;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: white;
    
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-close-icon{
    width: 8px;
    height: 8px;
    fill: inherit;
  }
  
  .close-modal:hover,
  .close-modal:focus{
    background-color: #ad3100;
  }
  
  .close-modal:hover .modal-close-icon,
  .close-modal:focus .modal-close-icon{
    fill: white;
  }
  

  
  .modal-info-header{
    text-align: center;
  }
  
  .registration-form input{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 40px; 
    padding-left: 10px;
    margin: 0;
  
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-field:focus-within input{
    outline: none;
    border-color: #2A787F;
  }
  
  .textarea{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    resize: none;
    padding: 8px 16px;
  
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  textarea::placeholder{
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
  }
  
  .input-label,
  .comment-label{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
  
    font-weight: 600;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #2A787F;
  }
  
  .comment-label:focus-within .textarea{
    outline: none;
    border-color: #2A787F;
  }
  

  .interested{
    font-size: 70px;
  }

  .button-try{
    margin-left: 30px;

    background-color: transparent; /* Dark teal */
    color: #2A787F;
    font-weight: 800;
    font-size: 70px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.text-points{
    font-weight: 700;
    line-height: 2;
    color: #2A787F;
}

  .button-try:hover{
    color: #589EA5;
  }
  .call-to-action{
    display: flex;
    align-items: center;

  }
  
  .feedback-title{
    color: #2A787F;
  }




  footer {
    background-color: #DBAE92; /* Light orange */
    color: white;
    text-align: center;
    padding: 1em 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
}

.footer-links li:last-child {
    margin-right: 0;
}

.footer-links li a {
    color: white;
    text-decoration: none;
}

.footer-links li a:hover {
    text-decoration: underline;
}
